@page
@model StoryMint.Pages.Stories.IndexModel
@{
}
<div class="container">
    @{
        if (Model.Stories?.Count > 0)
        {
            foreach (var story in Model.Stories)
            {
                <div class="card" style="width: 20rem;">
                    <div class="card-body">
                        <h5 class="card-title">@story.Title</h5>
                        <h6 class="card-subtitle mb-2 text-body-secondary">Card subtitle</h6>
                        <p class="card-text">@story.Description</p>
                        <a asp-area="" asp-page="/Stories/Details" asp-route-id="@story.Id" class="card-link">Story link</a>
                    </div>
                </div>
            }
        }
    }
</div>