@page
@model StoryMint.Pages.Stories.IndexModel
@{
}
<div class="container">
    @{
        if (Model.Stories?.Count > 0)
        {
            foreach (var story in Model.Stories)
            {
                <div class="card m-5">
                    <div class="card-header">
                        @story.Title
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">@story.Description</h5>
                        <p class="card-text">@story.Description</p>
                        <a asp-area="" asp-page="/Stories/Details" asp-route-id="@story.Id" class="btn btn-primary">Read story</a>
                    </div>
                </div>
            }
        }
    }
</div>