@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">StoryMint</h1>
    <p>Create <a asp-area="" asp-page="/Stories/Create">Story</a>.</p>
</div>
